<div id="header">
	<a href="<%= home_path %>" class="logo">
		<img src="<%= image_path('logo.jpg')%>">
	</a>
</div>
<div class="all">
	<div class="nav">
		<ul>
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "About", about_path %></li>
			<% if account_signed_in? %>
                <% if current_account.status==1 %>
                    <li><%= link_to "Manage", dashboard_path %></li>
                <% else %>
                    <li><%= link_to "Profil", user_path(current_account) %></li>
                <% end %>
            <% else %>
                <li><%= link_to "Login", login_path %></li>
            <% end %>
		</ul>
	</div>
	<div id="body">
		<h1><span>Detail</span></h1>
	</div>

	<table style="margin:auto;">
    	<tr>
    		<th style="text-align:right;font-size: 18px">Tanggal :</th>
  			<td style="font-size: 18px"><%= @track.tanggal %></td>
		</tr>

		<tr>
  			<th style="text-align:right;font-size: 18px">Nama :</th>
  			<td style="font-size: 18px"><%= @track.nama %></td>
		</tr>

		<tr>
  			<th style="text-align:right;font-size: 18px">Nama Band :</th>
  			<td style="font-size: 18px"><%= @track.nama_band %></td>
		</tr>
		<% if account_signed_in? %>
			<% if current_account.status==1 %>
			<tr>
  				<th style="text-align:right;font-size: 18px">No. HP :</th>
  				<td style="font-size: 18px"><%= @track.no_hp %></td>
			</tr>
			<% end %>
		<% end %>
	</table><br>
	<div class="act" style="width:80%;margin:auto;margin-top: 10px;text-align: center">
		<% if account_signed_in? %>
		<% if current_account.status==1 %>
		<%= link_to 'Edit', edit_track_path(@track), class:'button' %> | <% end %><% end %>
		<%= link_to 'Kembali', tracks_path, class:'button' %>
	</div>
</div>
<div id="footer">
    <div>
        <p>&copy; 2017 Achtzehn</p>
    </div>
</div>