<div id="header">
    <a href="<%= home_path %>" class="logo">
        <img src="<%= image_path('logo.jpg') %>" alt="">
    </a>
</div>
<div class="all">
	<div class="nav">
        <ul>
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Login", new_admin_session_path %></li>
        </ul>
    </div>
</div>
<div id="body">
		<h1><span>Tentang Kami</span></h1>
		<div>
			<img src="<%= image_path('about.png') %>" alt="">
			<div class="article">
				<h3>Seputar Kami :</h3>
				<p></p>
				<p>
					Mozart Studio adalah sebuah studio musik yang memfasilitasi ruang studio band, alat-alat musik dan ruang rekaman.Tujuan kami adalah untuk mewadahi bagi peng-hobi musik untuk menjadi musisi. </p>
				
				<h3>Alamat::</h3>
				<p></p>
				<p>jl.Cipadung Permai 10 No.1 Kec.Cibiru Kota Bandung || Telp:(+62)8123456789</p>
				
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<p>&copy; 2017 Achtzehn</p>
			<!--<ul>
				<li>
					<a href=#"http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
				</li>
				<li>
					<a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
				</li>
				<li>
					<a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="http://pinterest.com/fwtemplates/" id="pinterest">pinterest</a>
				</li>
			</ul>-->
		</div>
	</div>