<div id="header">
    <a href="<%= home_path %>" class="logo">
        <img src="<%= image_path('logo.jpg') %>" alt="">
    </a>
</div>
<div class="all">
<div class="nav">
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Login", new_admin_session_path %></li>
    </ul>
  </div>
  <div id="body">
    <h1><span>Log in</span></h1>
  </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div style="border:2px solid black;border-radius: 5px;width:80%;margin: auto;"><br>
  <div class="field" style="text-align: center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field" style="text-align: center;">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field" style="text-align: center">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions" style="text-align: center">
    <%= f.submit "Log in" %>
  </div><br>
  </div>
<% end %>
</div>
<!--<div class="ada" style="text-align: center;">
  <%= render "devise/shared/links" %>
</div>-->
<div id="footer">
    <div>
        <p>&copy; 2017 Achtzehn</p>
        <!--<ul>
            <li>
                <a href="#http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a>
            </li>
            <li>
                <a href="#http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a>
            </li>
            <li>
                <a href="#http://freewebsitetemplates.com/go/googleplus/" id="googleplus">googleplus</a>
            </li>
            <li>
                <a href="#http://pinterest.com/fwtemplates/" id="pinterest">pinterest</a>
            </li>
        </ul>-->
    </div>
</div>